body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav div {
    margin-left: 30px;
    margin-right: 30px;
}


.navbar-image {
    float: right;
}

#hero {
    position: relative;
    height: 380px;
    color: white;
    margin: 0px;
    overflow: hidden;
}

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(64, 119, 192, 0.8);
    backdrop-filter: blur(20px);
    z-index: 1;
}

#hero p {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: lighter;
}

#hero h1 {
    margin: 0px;
    font-size: 40px;
    padding: 20px;
}

#hero h2 {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

#background-image {
    position: absolute;
    transform: rotate(-15deg);
    top: -400px;
    left: 500px;
    width: 100%;
    z-index: -1;
}


#instructions {
    position: relative;
    width: 100%;
    height: 80px;

    background: rgba(91, 178, 255, 0.8);
}

#instruction-steps {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#instruction-steps::before {
    content: "Add a Profile:";
    position: absolute;
    top: -20px;
    left: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: normal;
}

.step-icon{
    font-size: 30px;
    color: rgb(61, 61, 61);
    padding: 15px;
    margin-right: 15px;
    border-radius: 100px;
}

.step{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.step span{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}




.proof-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#screenshotContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#screenshotContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    width: 400px;
    height: 225px;
    /* 16:9 ratio */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    transition: top 2s;
}

.card:hover img {
    top: -100%;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
}

.card-info .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: -10px -26px;
}